#console{
	padding: 0 30px;
}
#content,
#right { float:left; }

#content { width:660px; }
#right { width:270px; }

.one-sidebar .column-main {
	width: 100%;
}
.one-sidebar .node-session .column-main{
	width:65%;
}