body,
input,
textarea,
select { font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif; }

body.badcamp {
  color:#CAE1EA;
  background:#43b0ef url(img/body_top.jpg) 0px 0px repeat-x;
  }

a {
  color:#39c;
  text-decoration:none;
  }
td{
	color: #333;
}

/**
 * "Rounded" elements =================================================
 */
.block,
.item-list,
.help-items ul,
.form-item,
.admin-list,
.node-type-list,
.admin-panel,
.box-title,
div.messages,
.compact-link a,
.confirmation ul,
form .buttons,
input.teaser-button,
input.form-submit {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.item-list h3,
.block .block-title,
.admin-panel h3,
.collapsible .fieldset-title a {
  -moz-border-radius:2px 2px 0px 0px;
  -webkit-border-radius-top-left:2px;
  -webkit-border-radius-top-right:2px;
  }

  .fieldset-title {
    -moz-border-radius:3px 3px 0px 0px;
    -webkit-border-radius:3px 3px 0px 0px;
    }

  .collapsed .fieldset-title {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

  .collapsed .fieldset-title a {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    }

  .fieldset-content {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

  .titled .fieldset-content {
    -moz-border-radius:0px 0px 3px 3px;
    -webkit-border-radius:0px 0px 3px 3px;
    }

.block .block-content {
  -moz-border-radius:0px 0px 2px 2px;
  -webkit-border-radius-bottom-left:2px;
  -webkit-border-radius-bottom-right:2px;
  }

/**
 * "Popped" elements ==================================================
 */
div.messages {
  -moz-box-shadow:#ddd 0px 1px 3px;
  -webkit-box-shadow:#ddd 0px 1px 3px;
  }

input.teaser-button,
input.form-submit {
  -moz-box-shadow:#ddd 0px 1px 1px;
  -webkit-box-shadow:#ddd 0px 1px 1px;
  }

/**
 * "Embossed" elements ================================================
 */
table,
.block,
.item-list,
.help-items ul,
.fieldset,
.form-item,
.admin-list,
.node-type-list,
.admin-panel,
.pager a:hover,
.confirmation ul {
  -moz-box-shadow:#051630 0px 1px 0px;
  -webkit-box-shadow:#051630 0px 1px 0px;
  }

.block .item-list,
.block .form-item,
.admin-panel .admin-list,
.teaser-checkbox .form-item,
.form-item .form-item,
.fieldset .form-item,
table .form-item {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  }

table th {
  text-shadow:#fff 0px 1px 0px;
  }

table.views-view-grid {
	background: none;border-width: 0;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;

}
table.views-view-grid *{
	border-width: 0;color: #fff;
}

/**
 * Branding ===========================================================
 */
#branding {
  margin:0px auto;width: 960px;background: url(img/branding.jpg) center 0 no-repeat #092C61;
  /*
  padding:5px 0px 4px;
  border-bottom:1px solid #e0e0e0;
   */
  
  overflow:hidden;
  height:300px;
  position:relative;

  font-size:11px;
  text-shadow:#092C61 0px 1px 0px;
  line-height:20px;
  color:#eee;
  }

#branding a {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  color:#eee;
  float:left;
  padding:0px 10px;
  }

#branding a:hover { background:#43b0ef; }

a.home-link {
  clear:left;;
  margin-top:30px;
  height: 230px;
  width: 325px;
}
a.home-link span {
  display:none;
}
#branding a.home-link:hover {
  background-color: transparent;
}

#branding ul.links { float:right; padding-top: 3px;}

#branding .breadcrumb {
  padding:0px 5px;padding-top: 3px;
  float:left;
  text-transform:uppercase;
  font-weight:normal;
  }

  #branding .breadcrumb a,
  #branding .breadcrumb strong {
    font-weight:normal;
    float:left;
    padding:0px 5px;
    }

  #branding .breadcrumb .breadcrumb-link {
    float:left;
    padding-right:5px;
    background:url(images/sprite.png) 100% 100% no-repeat;
    }

/**
 * #nav_primary =========================================================
 */
#nav_primary{
	text-transform: lowercase;float:right;margin: 219px 0 0 0;
	clear: right;font-size: 24px;
}
.logged-in #nav_primary{
	margin-top: 198px;
}
#nav_primary .block,#nav_primary .block-content{
	background: none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
#nav_primary .menu li{
	border-bottom: none;float: left;padding: 0;
}
#nav_primary a{
	padding: 2px 10px 3px;
}
#nav_primary a:link,#nav_primary a:visited{
	color: #fff;
}
#nav_primary a:hover{
	color: #092c61;
}
/**
 * Page title =========================================================
 */
#page-title {
	background: #092C61;
  margin:0px auto;width: 960px;

  position:relative;
  }

  #page-title .page-title {
    padding:14px 0px 0 43px;
    line-height:30px;
    min-height:30px;

    text-shadow:#000 0px 1px 0px;
    -webkit-text-shadow:#fff 0px 1px 0px;

    letter-spacing:-1px;
    font-weight:normal;
    font-size:46px;
    
    width: 560px;
    }

  #page-title .page-title span.icon {
    float:left;
    margin-right:10px;
    }

/**
 * Tabs ===============================================================
 */
.primary-tabs {
  position:absolute;
  right:60px;
  bottom:-1px;
  overflow:hidden;
  height:36px;
  padding:0px;
  line-height:20px;
  }

.primary-tabs li { padding-left:5px; }

.pager a,
.pager li.pager-current,
.primary-tabs li a {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;

  padding:4px 9px;

  font-size:11px;
  font-weight:normal;

  color:#999;
  background:transparent;

  border-width:1px;
  border-style:solid;
  border-color:transparent;
  }

  .pager a:hover {
    background:#eee;
    border-color:#ccc #ddd #eee;
    }

.pager li.pager-current,
.primary-tabs li a:hover {
  -moz-box-shadow:#fff 0px 1px 0px;
  -webkit-box-shadow:#fff 0px 1px 0px;
  border-color:#999;
  background:#888 url(images/bleeds.png) 0px 0px repeat-x;
  color:#fff;
  }

.primary-tabs li.active a,
.primary-tabs li.active a.active {
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-radius:3px 3px 0px 0px;

  padding:4px 14px 11px;
  color:#333;
  border-bottom:0px;
  border-color:#fff;
  background:#f4f4f4 url(images/bleeds.png) 0px -41px repeat-x;
  }

div.secondary-tabs {
  font-size:11px;
  padding:4px;
  border-bottom:1px solid #e8e8e8;
  }

  ul.secondary-tabs { float:right; }

  .secondary-tabs li a,
  .secondary-tabs li a:hover {
    color:#333;
    padding:0px 10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

  .secondary-tabs li a:hover { background:#ddd; }

  .secondary-tabs li a.active,
  .secondary-tabs li.active a {
    background:#888 url(images/bleeds.png) 0px 0px repeat-x;
    color:#fff;
    }

/**
 * Page layout ========================================================
 */
#page {
  margin:0px auto;width: 960px;
	background: #092c61;
  }

.page-content { background: #092C61/*#0E4089*/; }
.content-wrapper{
	padding:4px 20px; 
}
.content-wrapper { margin:5px; }

div.messages.block { margin:0 0 10px; }

.block { margin:5px 0 10px; }

/**
 * Footer =============================================================
 */
#footer {
	margin: 2px auto 60px;width: 960px;
	background: #092C61;
  padding:10px 0 30px;
  font-size:11px;
  }

#footer .footer-message {
  padding:0px 40px;
  float:left;
  }

#footer .feed-icons {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;

  /* Assume icons are 16x16 like Drupal core. */
  line-height:16px;
  padding:7px 5px;
  background:#c4c4c4;
  float:right;
  }

  #footer .feed-icons img { display:block; }

  #footer .feed-icons label,
  #footer .feed-icons a {
    padding:0px 5px;
    float:left;
    }

#footer .block, #footer .block-title, #footer .block-content{
	background: none;
}
#footer #block-views-Sponsors-block_6{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
#footer .block-title{
	padding: 0;font-size: 30px;margin-left: 30px;
}

/**
 * Help ===============================================================
 */
a#help-toggler {
  position:absolute;
  right:30px;
  bottom:10px;
  background:url(images/sprite.png) -20px 0px no-repeat;

  height:20px;
  width:20px;

  text-indent:-999px;
  overflow:hidden;
  }

  a#help-toggler.toggler-active { background-position:-20px -20px; }

  a#help-toggler.toggler-disabled {
    cursor:default;
    background-position:-20px -40px;
    }

#help-text {
  background:#fff url(images/vrule.png) 65% 0% repeat-y;
  border-bottom:1px solid #ddd;
  }

  #help-text.with-tabs {
    -moz-border-radius:2px 2px 0px 0px;
    -webkit-border-radius-top-left:2px;
    -webkit-border-radius-top-right:2px;
    }

  #help-text .breadcrumb-label,
  #help-text .breadcrumb-link { display:block; }

  #help-text .breadcrumb-link {
    background:url(images/sprite.png) -185px -180px no-repeat;
    padding-left:20px;
    }

/**
 * Content ============================================================
 */  
.help-page,
div.comment,
div.node {
	/*
  border-style:solid;
  border-width:1px;
  border-color:#ccc #ddd #eee;
	*/
  background:#0e4089 /*url(images/vrule.png) 65% 0% repeat-y;*/
  margin:0px 0px 10px;

/*  -moz-box-shadow:#fff 0px 1px 0px; 
  -webkit-box-shadow:#fff 0px 1px 0px; */
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.help-page,
div.comment,
div.node {
	/*
  border-style:solid;
  border-width:1px;
  border-color:#ccc #ddd #eee;
	*/
  background:#092C61 /*url(images/vrule.png) 65% 0% repeat-y*/;
  margin:0px 0px 10px;

/*  -moz-box-shadow:#fff 0px 1px 0px; 
  -webkit-box-shadow:#fff 0px 1px 0px; */
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

#help-text .column-main .column-wrapper,
.help-page .column-main .column-wrapper,
div.comment .column-main .column-wrapper,
div.node .column-main .column-wrapper { padding:19px; }

  #help-text .column-main .column-wrapper {
    padding-left:59px;
    position:relative;
    }

    #help-text .column-main .column-wrapper span.icon {
      position:absolute;
      top:15px;
      left:15px;
      }

#help-text .column-side .column-wrapper,
.help-page .column-side .column-wrapper,
div.comment .column-side .column-wrapper,
div.node .column-side .column-wrapper {
  padding:9px;
  font-size:11px;
  }

#help-text .column-side .help-links,
.help-page .column-side .help-page-links,
.node-submitted,
.comment-submitted {
  padding:10px;
  background:#0E4089;
  }

.comment-links,
.node-links { padding:10px 0px; }

.help-page .help-page-links ul.links {
  -moz-column-count:2;
  -webkit-column-count:2;
  }

.column-side ul.links li,
.column-side ul.links a,
.column-side ul.links span {
  float:none;
  }

.column-side ul.links a,
.column-side ul.links span {
  padding:0px 10px;
  display:block;
  float:none;
  }

  .column-side ul.links span a {
    padding:0px;
    display:inline;
    }

  .column-side ul.links a.active,
  .column-side ul.links a:hover { background:#fff; }
  .comment-links ul.links a:hover { background:#f4f4f4; }

.comment-title,
.node-title {
  margin:0px 0px 20px;
  font-weight:normal;
  font-size:18px;
  }

.field-label-inline-first{
	color: #43b0ef;
}

legend{
	text-transform: uppercase;letter-spacing: .15em;font-size: .8em;padding-bottom: .3em;margin-bottom: .3em;border-bottom: 1px dotted #0e4089;color: #0075c4;
}

.group-audience{
	margin-top: 1em;
}

#content .block-views{
	margin-left: 30px;margin-right: 20px;
}

.front #page h2.node-title, .front #page h2.node-title a:link,.front #page h2.node-title a:visited{
	color: #fff;font-size: 46px;
}

.flag-session_vote a:link, .flag-session_vote a:visited{
	color: #fff;font-size: 14px;
}

/**
 * #right ============================================================
 */  
#right .block-title{
	text-transform: uppercase;letter-spacing: .15em;color: #fff;padding: .6em;
}

/*
 * Sponsor blocks in footer
 */
#block-views-Sponsors-block_7,
#block-views-Sponsors-block_6,
#block-views-Sponsors-block_5 {
  float:right;
  -moz-box-shadow:0 0 0 transparent;
  margin: 40px 30px 0 30px;
}

#views_slideshow_singleframe_main_featured_speakers-block_1 {
  text-align:center;
}
#views_slideshow_singleframe_teaser_section_featured_speakers-block_1 {
  margin: 0 auto;
}